apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: demo-webhook
webhooks:
  - name: webhook-server.webhook-demo.svc
    clientConfig:
      service:
        name: webhook-server
        namespace: webhook-demo
        path: "/mutate"
      caBundle: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURQekNDQWllZ0F3SUJBZ0lVQWVtbWVOTmVhSCswK1ZlZnQvRndMMy9hdnZjd0RRWUpLb1pJaHZjTkFRRUwKQlFBd0x6RXRNQ3NHQTFVRUF3d2tRV1J0YVhOemFXOXVJRU52Ym5SeWIyeHNaWElnVjJWaWFHOXZheUJFWlcxdgpJRU5CTUI0WERUSTFNVEl3TVRFeU5EZ3dORm9YRFRJMU1USXpNVEV5TkRnd05Gb3dMekV0TUNzR0ExVUVBd3drClFXUnRhWE56YVc5dUlFTnZiblJ5YjJ4c1pYSWdWMlZpYUc5dmF5QkVaVzF2SUVOQk1JSUJJakFOQmdrcWhraUcKOXcwQkFRRUZBQU9DQVE4QU1JSUJDZ0tDQVFFQTN5d2VydzRKYlRkcVVaUGpZaFlaM0NqcFpCQ1JUV1hwUlRMOAp2em16Q3FFTGptVS81cGNVVXRtMlo1bEtHMjFGdVEwRVVuTXhZK1ZZbWlMVk1JMUErTURMNVVQS2R1cmxKOHFMCit4MnY3NmdqOGRhRkJRY01nRXdXU2xNUkRVRFFOZERyZ1ZNWDBQQU93WHIzVS9qQ1l5OGJRbHM0Y0RTL0w3NjIKVEg2TDFwc3JLb2ZILzBWbFU4UXRZYU1VTEM2SEs2QWJIcCtDT2QyQUNBMHJPRTBmakVqdTRROWVnV0Vvam5nQQpZRGtZcG5pRForL2VWS3VWU3lWWjc1Y09oTXpTdHl4cm10UTJjbUw1dVl1dUNIWXN4M1lmN2tVT0s1eHV6SmxCClZ4MXNrNzZWS1dURktzVzZtMG1kaFkyL0x4eGFkTFJKTEFiNnNvZmV6SkVrTmZhVnJRSURBUUFCbzFNd1VUQWQKQmdOVkhRNEVGZ1FVc1VqT2pFNk1oSEdiT0YzZnIwT1pvNlQ2T2Vrd0h3WURWUjBqQkJnd0ZvQVVzVWpPakU2TQpoSEdiT0YzZnIwT1pvNlQ2T2Vrd0R3WURWUjBUQVFIL0JBVXdBd0VCL3pBTkJna3Foa2lHOXcwQkFRc0ZBQU9DCkFRRUF5YjFueENqbkVKN1JydEtIZkVpM0RWVXVTVTlGSG0vK1lQc1dLajdFekRNV2lhU3ZsbCtVbkhEbENKODgKWGZha2EvRlREbmR1RGpseTIxb1g2cExSWG9GZE52SU1QUkxNVis4MmRibkIzU0V6Z1hmdXhIOC9EZlIzQlIyZAp3dWg4T2ZIMjhYQmJjaHFrdnNGbUJYandFOElWaG5qNVRKOG1taTliWERnOFZBeU9OUDB3MmVXc2kyajBKR3F1CnBFVUZZMHRneGVYYkxQVTZzQXgvQTFnODhEbldkZ0ZOcitENlFIUjJkTGZDcFBDeURkTDRZTXJUTEFBQUdIV3YKcnlYamhqalJ0eHlyN3NuR0RBSUFhQ1RXZEVVUS9RTTR0SGJUZ2VLWC9KMWtld09ocmtOSC96cEhOd2tFVHVsZQpjcDhBZWlxUGxKcVVwTFlTSEpNOTJxOHd2QT09Ci0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0K
    rules:
      - operations: [ "CREATE" ]
        apiGroups: [""]
        apiVersions: ["v1"]
        resources: ["pods"]
    admissionReviewVersions: ["v1beta1"]
    sideEffects: None